<h1>Welcome to the end of the world as you know it</h1>

<form action='/ark' method='post'>
  <div style="float:top;">
    <label for="female_animal">Female animal</label>
    <input type='text' name='female_animal'/>
  </div>
  <br>
  <div style="float:top;">
    <label for="male_animal">Male animal</label>
    <input type='text' name='male_animal'/>
  </div>
  <br>
  <input type='submit' value='Board the ark'/>
</form>
