<h1>Welcome to the end of the world as you know it</h1>

<form action='/ark' method='post'>
  <input type='text' name='female_animal'/>
  <input type='text' name='male_animal'/>
  <input type='submit' value='Board the ark'/>
</form>
