<h1>Animals safely stowed in the ark!</h1>
<ul>
 <% @animals.each do |pair| %>
   <li><%= "#{pair[0]}, #{pair[1]}, #{pair[2]}"%>
     <form action='/disease' method='post' id=<%="#{pair[1]}"%>>
       <input type='text' name='disease'/>
       <input type='submit' value='Record disease'/>
    </form>
   </li>
 <% end %>
</ul>

<form action='/pair' method='post'>
  <input type='submit' value='Add another pair'/>
</form>
